In [1]:
import pandas as pd
import numpy as np

pd.Series([1,2,3,4])

0    1
1    2
2    3
3    4
dtype: int64

In [2]:
pd.Series(['apple','orange','cherry','banna'])

0     apple
1    orange
2    cherry
3     banna
dtype: object

In [3]:
from datetime import datetime

pd.Series([datetime.now(),'fc-pda',20])

0    2015-12-13 15:56:51.743287
1                        fc-pda
2                            20
dtype: object

In [4]:
pd.Series([datetime.now(), 'fc-pad',20,[1,2,3,4,5]])

0    2015-12-13 15:57:46.557497
1                        fc-pad
2                            20
3               [1, 2, 3, 4, 5]
dtype: object

In [6]:
ser = pd.Series(['apple','orange','cherry','banana'])
ser

0     apple
1    orange
2    cherry
3    banana
dtype: object

In [8]:
ser.values

array(['apple', 'orange', 'cherry', 'banana'], dtype=object)

In [9]:
ser.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [11]:
fruits = pd.Series([50,10,5,20],index=['apple','orange','cherry','banana'])
fruits

apple     50
orange    10
cherry     5
banana    20
dtype: int64

In [12]:
fruits[0]

50

In [13]:
fruits['cherry']

5

In [16]:
l = np.arange(10)
l

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [17]:
l[2]

2

In [18]:
l[:3]

array([0, 1, 2])

In [19]:
l[1:5]

array([1, 2, 3, 4])

In [20]:
l[-1]

9

In [21]:
fruits

apple     50
orange    10
cherry     5
banana    20
dtype: int64

In [22]:
fruits[1:3]

orange    10
cherry     5
dtype: int64

In [23]:
'apple' in fruits

True

In [24]:
'pineapple' in fruits

False

In [25]:
fruits[fruits > 100]

Series([], dtype: int64)

In [26]:
fruits[fruits > 20]

apple    50
dtype: int64

In [27]:
fruits.to_dict()

{'apple': 50, 'banana': 20, 'cherry': 5, 'orange': 10}

In [28]:
d = fruits.to_dict()
d

{'apple': 50, 'banana': 20, 'cherry': 5, 'orange': 10}

In [29]:
fruits2 = pd.Series(d,index=['apple','banana','cherry','orange','plum','melon'])
fruits2

apple     50
banana    20
cherry     5
orange    10
plum     NaN
melon    NaN
dtype: float64

In [31]:
pd.isnull(fruits2)

apple     False
banana    False
cherry    False
orange    False
plum       True
melon      True
dtype: bool

In [32]:
pd.notnull(fruits2)

apple      True
banana     True
cherry     True
orange     True
plum      False
melon     False
dtype: bool

In [37]:
fruits2.name='과일 재고'
fruits2.index.name = '과일이름'

In [38]:
fruits2

과일이름
apple     50
banana    20
cherry     5
orange    10
plum     NaN
melon    NaN
Name: 과일 재고, dtype: float64

In [39]:
fruits2.sort_index()

과일이름
apple     50
banana    20
cherry     5
melon    NaN
orange    10
plum     NaN
Name: 과일 재고, dtype: float64

In [42]:
fruits2.sort_values(ascending=False)

과일이름
apple     50
banana    20
orange    10
cherry     5
plum     NaN
melon    NaN
Name: 과일 재고, dtype: float64

In [48]:
fruits2.sort_values(ascending=True)

과일이름
cherry     5
orange    10
banana    20
apple     50
plum     NaN
melon    NaN
Name: 과일 재고, dtype: float64

In [49]:
box_office = pd.Series([12575474, 12187071, 10494499, 6129681],
                       index=['암살', '베테랑', '어벤저스', '킹스맨'])

In [50]:
box_office

암살      12575474
베테랑     12187071
어벤저스    10494499
킹스맨      6129681
dtype: int64

In [51]:
box_office[2]

10494499

In [52]:
box_office['베테랑']

12187071

In [53]:
'인사이드아웃' in box_office

False

In [54]:
boffice_more = pd.Series([4961121, 1804980], index=['인사이드아웃', '앤트맨'])
boffice_more

인사이드아웃    4961121
앤트맨       1804980
dtype: int64

In [55]:
box_office + boffice_more

베테랑      NaN
암살       NaN
앤트맨      NaN
어벤저스     NaN
인사이드아웃   NaN
킹스맨      NaN
dtype: float64

In [56]:
box = box_office.append(boffice_more)

In [57]:
box

암살        12575474
베테랑       12187071
어벤저스      10494499
킹스맨        6129681
인사이드아웃     4961121
앤트맨        1804980
dtype: int64

In [58]:
box.plot(kind='bar')

In [59]:
box.plot(kind='barh')

In [60]:
box.value_counts()

12187071    1
4961121     1
1804980     1
10494499    1
12575474    1
6129681     1
dtype: int64

In [61]:
box.rank(ascending=False)

암살        1
베테랑       2
어벤저스      3
킹스맨       4
인사이드아웃    5
앤트맨       6
dtype: float64